.input {
  position: relative;

  transform: translateY(0px);
  opacity: 1;
  transition: 0.2s ease-in-out;

  width: 100%;

  font-size: 2.2rem;

  &_hidden {
    transform: translateY(20px);
    opacity: 0;
  }

  &__el {
    &:focus {
      outline: none;
    }

    &:focus ~ .input__title,
    &:not([value='']) ~ .input__title {
      top: 0;

      font-size: 1.8rem;
      color: var(--green);
    }

    &:disabled ~ .input__title {
      color: var(--white);
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);

    color: var(--gray-2);
    text-transform: capitalize;

    transition: 0.3s;
  }

  &__options {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    display: flex;
  }

  &__option-icon {
    height: 100%;
    width: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;

    cursor: pointer;
  }
}
